{% extends 'base.html.jinja' %}
{% block content %}
    <form action="{{ url_for('run_scraper') }}" method="post">
    <label for="code">Enter the code:</label>
    <input type="text" id="code" name="code" placeholder="Code">
{% endblock %}